.showAnswer{
  @extend %button;
  background:yellow;
  color:black;

     border: 1px solid rgba(0,0,0,.5);

}
.showNextQuestion{
  @extend %button;
  background: #00cc00;
  color:white;
     text-shadow: 2px 2px 1.5px rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.5);
}
