<div class="card-top" ng-show="showCardHeader">
  <div class="card-top-title">
    <span ng-show="deckTitle">{{ deckTitle }}</span>
  </div>
  <div class="card-top-count">
    Question {{ currentQuestion }} of {{ totalQuestions }}
  </div>
</div>
