<div class="card-top" ng-show="showCardHeader || cardsLoaded">
  <div class="card-top-title">
    <span ng-show="deckTitle">{{ deckTitle }}</span>
  </div>
  <div class="card-top-count" ng-hide="hideCardCount">
    Question {{ currentQuestion }} of {{ totalQuestions }}
  </div>
</div>
