<div class="card-top" ng-hide="addCardShow">
    <div class="card-top-title">
        {{ deckTitle }} <span ng-show="deckTitle">Questions</span>
    </div>

    <div class="card-top-count">
        Question {{ currentQuestion }} of {{ totalQuestions }}
    </div>
</div>
