<div class="card" ng-show="mainWindow">
    <div class="card-buttons">
        <button ng-click="showAnswerButton()" ng-hide="flip" class="showAnswer">Show Answer</button>
        <button ng-click="nextQuestionButton()" ng-show="flip" class="showNextQuestion">Next Question <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    </div>


    <div class="card-front" ng-class="{ 'flip-forward':flip, 'flip-forward-reverse':!flip}">
        <div class="card-body">
            <div class="card-header">
                {{ questionCategory | uppercase }}
            </div>
            <div class="card-question">
                {{ question }}
            </div>
        </div>
    </div>
    <div class="card-back" ng-class="{ 'flip-backward':flip, 'flip-backward-reverse':!flip}">
        <div class="card-body">
            <div class="card-header" ng-hide="firstcard">
                {{ answerquestionCategory | uppercase }}
            </div>
            <div class="card-answer" ng-hide="firstcard">
                {{ answer }}
            </div>
        </div>
    </div>
</div>
