<div class="card-top" ng-hide="addCardShow">
    <div class="card-top-title">
        {{ quizTitle }} Questions
    </div>

    <div class="card-top-count">
        Question {{ currentQuestion }} of {{ totalQuestions }}
    </div>
</div>
