<div class="completed" ng-show="finished">
    <div class="completed-header">Your deck has been saved!</div>

    Your cards can be viewed at http://flashcardquiz.com/ What next? Now you can share it with your friends.
</div>
