<div class="deckInformation">
  <span class="deckInformation-subject" ng-hide="totalQuestions == null">Cards in Deck: </span><span class="deckInformation-label">{{ totalQuestions }}</span>
  <span class="deckInformation-alexaPhrase" ng-show="alexaPhrase && cardsLoaded">Registered Alexa Phrase: <span class="deckInformation-alexaPhrase-sentence">{{ alexaPhrase }}</span></span>
</div>
