<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Flash Card Quiz | A flash card study buddy that works with Amazon Alexa</title>
    <meta name="description" content="Flash Card Quiz is a free application to build flash cards to study with. You can use your flash cards with Amazon Alexa or on the web.">
    <meta name="author" content="Joseph@codecreations.net | https://github.com/joecodecreations">
    <meta name="keywords" content="Flash Cards, Flash Card Quiz, Amazon Alexa Flash Cards, Alexa, Amazon Flash Cards, Study Buddy Cards, Flash Cards">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
