<div class="introduction" ng-hide="introCompleted">

    <div class="introduction-heading">Welcome to FlashCardQuiz.com!</div>
    <div class="introduction-summary">
        Create flash cards to study with and share them with friends, students or classmates. Start by adding your first card, review your deck and continue to add more cards to your deck. Once you are finished click share.
    </div>


    <input class="introduction--input" type="text" ng-model="deckTitle" placeholder="Enter a title for your flash cards to get started!" />

    <!-- <div class="introduction-alexa">
        Now works with Amazon Echo!
    </div> -->

    <button class="introduction--button" ng-show="deckTitle.length > 4" ng-click="getStarted()">Get Started</button>

</div>
