<div class="introduction" ng-hide="introCompleted">

    <div class="introduction-heading">
        <div class="introduction-heading-welcome">Welcome to</div>
        <div class="introduction-heading-title">Flash Card Quiz</div>
        <div class="introduction-heading-dotcom">.com</div>
    </div>

    <div class="introduction-summary">
        Create awesome flash cards with questions and answers that you can share with others
    </div>

    <div class="introduction-alexa">
        <div class="introduction-alexa-left">
            <div class="introduction-alexa-circle">
                <img src="assets/images/alexa-icon.jpg" class="introduction-alexa-icon" />
            </div>
        </div>
        <div class="introduction-alexa-right">
            <div class="introduction-alexa-text">
                Works with Amazon Alexa
            </div>
            <div class="introduction-alexa-web">
                and through the web
            </div>
        </div>
    </div>


    <div class="introduction-registration">
        No registration required, free to use
    </div>

    <button class="introduction--button" ng-click="getStarted()">GET STARTED</button>

</div>
