<div class="nav" ng-controller="navigation as nav">
  <a href="https://flashcardquiz.com">
    <div class="nav-title">{{ title }}</div>
    <div class="nav-dotcom">.com</div>
  </a>
  <ul class="nav-group">
    <li ng-repeat="button in navButtons" class="nav-button" ng-hide="hideButtons" ng-click="button.action()" title="{{button.titleTag}}">{{ button.heading }}</li>
    <i class="fa fa-bars nav-hamburger" ng-hide="hideButtons" title="Menu" alt="Menu" ng-click="mobileMenuOpen() " aria-hidden="true"></i>
  </ul>
</div>


<div class="mobileNav" ng-controller="navigation as nav" ng-show="ShowMobileMenu">
  <div class="mobileNav-row">
    <div class="mobileNav-title">Menu</div>
  </div>
  <ul class="mobileNav-group">
    <li ng-repeat="button in navButtons" class="mobileNav-button" ng-hide="hideButtons" ng-click="button.action();mobileMenuClose();" title="{{button.titleTag}}">{{ button.heading }}</li>
    <li class="mobileNav-button--close" ng-hide="hideButtons" ng-click="mobileMenuClose()" title="Close the Menu">Close <i class="fa fa-times" aria-hidden="true" alt="close button"></i>
    </li>
  </ul>
</div>
