<div class="nav" ng-controller="navigation as nav">
  <a href="https://flashcardquiz.com">
    <div class="nav-title">{{ title }}</div>
    <div class="nav-dotcom">.com</div>
  </a>
  <ul class="nav-group">
    <li ng-repeat="button in navButtonsLoaded" class="nav-button" ng-show="cardsLoaded" ng-click="button.action()" title="{{button.titleTag}}"><a ng-href="{{ button.link }}" ng-if="button.link">{{ button.heading }}</a ng-if="button.link"></li>
    <li ng-repeat="button in navButtons" class="nav-button" ng-hide="hideButtons" ng-click="button.action()" title="{{button.titleTag}}"> <i ng-show="button.heading =='Add Card'" class="fa fa-plus-circle" aria-hidden="true"></i><i ng-show="button.heading =='Share Deck'" class="fa fa-share-alt" aria-hidden="true"></i> {{ button.heading }}</li>
    <li ng-repeat="button in navButtonsAlwaysPresent" class="nav-button" onerror="" ng-click="button.action()" title="{{button.titleTag}}">{{ button.heading }}</li>
    <i class="fa fa-bars nav-hamburger" title="Menu" alt="Menu" ng-click="mobileMenuOpen() " aria-hidden="true"></i>
  </ul>
</div>

<div class="mobileNav" ng-controller="navigation as nav" ng-show="ShowMobileMenu">
  <div class="mobileNav-row">
    <div class="mobileNav-title">Menu</div>
  </div>
  <ul class="mobileNav-group">
    <li ng-repeat="button in navButtonsLoaded" class="mobileNav-button" ng-show="cardsLoaded" ng-click="button.action();mobileMenuClose();" title="{{button.titleTag}}"><a ng-href="{{ button.link }}" ng-if="button.link">{{ button.heading }}</a ng-if="button.link"></li>
    <li ng-repeat="button in navButtons" class="mobileNav-button" ng-hide="hideButtons" ng-click="button.action();mobileMenuClose();" title="{{button.titleTag}}">{{ button.heading }}</li>
    <li ng-repeat="button in navButtonsAlwaysPresent" class="mobileNav-button" ng-click="button.action();mobileMenuClose();" title="{{button.titleTag}}">{{ button.heading }}</li>
    <li class="mobileNav-button--close"  ng-click="mobileMenuClose()" title="Close the Menu">Close <i class="fa fa-times" aria-hidden="true" alt="close button"></i>
    <li class="mobileNav-alexaPhrase" ng-show="alexaPhrase && cardsLoaded">Load these cards with Amazon Alexa by enabling the Flashcard Quiz Skill and using this phrase:</li>
     <li class="mobileNav-alexaPhrase-sentence" ng-show="alexaPhrase && cardsLoaded">{{ alexaPhrase }}</li>
    </li>
  </ul>
</div>
