<div class="popover" ng-show="popoverWindow">
    <i class="fa fa-window-close popoverClose" ng-click="popoverWindow = false" aria-hidden="true" alt="close window" title="close window"></i>

    <div class="popover-content" ng-show="popoverAlexa">
        <img src="assets/images/small_alexa_device.png" />

        <div class="popover-row">Use these flashcards with Amazon Alexa. Simply install our custom skill on amaon by visiting <a href="https://www.amazon.com/dp/B06XY3LNT7" target="_blank">flashcard quiz</a> or simply tell Alexa "enable Flashcard quiz skill".</div>

        <div class="popover-row">After you have enabled this skill, simply open the skill by saying "Alexa, Flashcard quiz"</div>

        <div class="popover-row">When the application loads, it will ask you for your unique custom alexa phrase that you have previously registered and it will load the phrase</div>
    </div>

    <div class="popover-content" ng-show="popoverGiveFeedback">
        We would love to hear what you have to say give us some feedback using the form below


    </div>

    <div class="popover-content" ng-show="popoverShareCards">
        Share Cards with others

    </div>

</div>
