<div class="share" ng-show="shareWindow">
    <div class="share-row">
        <h1 class="share-heading">Ready to share your cards with others?</h1></div>
    <div class="share-row"><input class="share--input" type="text" ng-model="deckTitle" placeholder="Enter your a title for your card deck" ng-class="{'required--form':(TitleError==true)}" /></div>
    <div class="share-remainingCharacters" ng-class="{'warning': (deckTitle.length > 140)}">{{ 140-(deckTitle.length)}} characters remaining<span class="shareValidationError">{{TitleErrorMessage}}</span></div>
    <div class="share-alexa">
        <div class="share-row"><img src="assets/images/alexa.png" class="share-alexa--image" />Did you know you can use your flash cards with Amazon Echo? </div>

        <div class="share-row"> Use with Amazon Echo <input type="checkbox" value="true" ng-model="alexa" />

        </div>
        <div class="share-row"></div>
        <div class="share-row" ng-show="alexa"><span class="share-alexa-instructions">Add in a custom phrase that contains a few words to interact with your cards</span></div>
        <div class="share-row" ng-show="alexa"><input class="share--input" type="text" ng-model="alexaPhrase" placeholder="Select a phrase for alexa..." ng-class="{'required--form':(AlexaError==true)}" /></div>
        <div class="share-remainingCharacters" ng-show="alexa" ng-class="{'warning': (alexaPhrase.length > 140)}">{{ 140-(alexaPhrase.length)}} characters remaining<span class="shareValidationError">{{AlexaErrorMessage}}</span></div>
    </div>
    <div class="share-row"><button ng-click="createDeck()" class="share--button">Create Deck</button></div>
</div>
