* { box-sizing: border-box }


body{
  background:#8c1aff;
  background: #8c1aff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8c1aff,#8c1aff,#8c1aff,#8c1aff, #bf80ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8c1aff,#8c1aff,#8c1aff,#8c1aff, #bf80ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8c1aff,#8c1aff,#8c1aff,#8c1aff, #bf80ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8c1aff,#8c1aff,#8c1aff,#8c1aff, #bf80ff); /* Standard syntax */
  font-size:18px;
  margin: 0;
  color:limegreen;
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pointer {  cursor:pointer; }
.image--floatleft {
    float: left;
    padding: 14px;
}

.upper{
  order:1;
  flex-basis:100%;
  height:100px;
}

.lower{
  padding-top: 37px;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-bottom: 20px;
  vertical-align: top;
  min-height: 85vh;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
