.introduction{
  width: 600px;
  background: white;
  position: absolute;
  height: 450px;
  margin-top: 128px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;

  &-heading{
    font-size:24px;

  }
  &-alexa {

  }

  &-summary{

  }

  &--input{

  }

  &--button{

  }


}
