.introduction{
  width: 600px;
  background: white;
  position: absolute;
  height: 450px;
  margin-top: 128px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;

  &-heading{
    font-size:24px;
    color:black;

  }
  &-summary{
    color:black;
    margin-top:10px;
    font-size:1em;
  }

  &-alexa {
    color:black;
    margin-top:10px;
    font-size:12px;
  }



  &--input{
    color:black;
    padding:4px;
    width:100%;
    font-size:18px;
    border: 1px solid rgba(0,0,0,.6);
  }

  &--button{
    @extend %button;
    color:black;

  }


}
