.introduction{
  width: 99%;
position: absolute;
min-height: 450px;
margin-top: 128px;
margin: 0 auto;
padding: 10px;
z-index: 2;
text-align: center;
background: #fff;
box-shadow: 0 1px 7px 0 rgba(0,0,0,.5);
border-radius: 28px;
max-width: 600px;
height: auto;
min-width: 320px;


  &-summary{
    width: 71%;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
    font-family: Lato,sans-serif;
    color: #a6a6a6;
    font-weight: lighter;
    max-width: 350px;
    }


  &-heading{
    width: 90%;
margin: 0 auto;
    max-width: 375px;
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    padding: 1% 8% 4%;
    margin-bottom: 4px;

    &-welcome{
      font-family: Lato,sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #8b8b8b;
      width: 116px;

    }
    &-title{
    font-family: 'Lato', sans-serif;
      font-size: 34px;
      color: #6F6F6F;
    }
    &-dotcom{
      font-family: Lato,sans-serif;
      font-size: 14px;
      color: #8b8b8b;
      width: 50px;
      float: right;
      margin-right: 13px;
      margin-top: -4px;
      font-weight: bold;
    }
  }




  &-alexa {

    &-right{
      width: 61%;
      height: 115px;
      padding-top: 22px;
      text-align: left;
      margin-left: 223px;
      line-height: 28px;

    }
    &-left{
      width: 25%;
      float: left;
      padding-left: 19%;


    }
    &-circle{
      background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    border-radius: 50%;
    width: 100px;
    height: 100px;

    }
    &-icon{
      margin-top:21px;
    }

    &-text {
      font-family: Arial;
      font-size: 18px;
      color: #71B4D8;
    }
    &-web {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #A6A6A6;
    }
  }

  &--input{
    color:black;
    padding:4px;
    width:100%;
    font-size:18px;
    border: 1px solid rgba(0,0,0,.6);
  }

  &-registration{
    /* No registration requ: */
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #A6A6A6;
    width:400px;
    margin: 0 auto;
    font-weight:400;
  }

  &--button{
    margin:0 auto;
    /*button */
    background: #505050;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.50);
    border-radius: 22px;
    /* text: */
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-top:20px;
    cursor:pointer;
    &:hover{
      /* button: */
      background: #8EBC5B;
      border: 2px solid #FFFFFF;
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.50);
      border-radius: 22px;

    }

  }


}
