@keyframes FadeIn {
  0%   { opacity: 0;}
 100% { opacity:1;}
}

@-webkit-keyframes FadeIn {
  0%   { opacity: 0;}
 100% { opacity:1;}
}

@keyframes FadeOut {
  0%   { opacity: 1;}
 100% { opacity:0;}
}

@-webkit-keyframes FadeOut {
  0%   { opacity: 1;}
 100% { opacity:0;}
}

.fadeOut {
  animation: FadeOut 1s ease-out forwards;
  -webkit-animation: FadeOut 1s ease-out forwards;
}

.fadeIn {
  animation: FadeIn 1s ease-out forwards;
  -webkit-animation: FadeIn 1s ease-out forwards;
  pointer-events: auto;
}
