%button {
  width:250px;
  height:32px;
  text-align:center;
  font-size:1em;
  border:rgba(0,45,0,.9);
  cursor:pointer;
  &:hover{
    background:rgba(0,0,0,1);
    color: rgba(255,255,255,.4);
  }
}

%card {
  width: 462px;
  height: 449px;
  position: absolute;
  // left: 40vw;
  // top:25vh;
  //
  //
  // text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
  perspective: 1000px;
}
