%button {
  width:250px;
  height:32px;
  text-align:center;
  font-size:1em;
  border-radius: 12px;
  border:rgba(0,45,0,.9);
  cursor:pointer;
}

%card {
  width: 462px;
  height: 449px;
  position: absolute;
  left: 40vw;

  top:25vh;


  text-align: center;
  perspective: 1000px;
}
