.warning {
  color:red !important;
}
.required {
  color:red !important;
  &--form{
    border:1px solid red !important;
  }
}


.insertCardValidationError {
    color: red;
    float: right;

    @include breakpoint(iphone5, null){
    font-size: 13px;
    margin-top: -14px;
  }

}

.shareValidationError {
    color: red;
    float: right;
    margin-right:58px;

}
