.card{
  max-width: 462px;
  max-height: 449px;
  height:auto;
  width:100%;
  position: relative;

  align-items: center;
  justify-content: center;
  perspective: 1000px;
  margin: 0 auto;

&-content {
  //iphone 5 fix
  @extend %iphoneCard;

}
  &-clickToFlip{
    width: auto;
height: 54px;
position: absolute;
z-index: 100;
right: 14px;
top: -11px;
transform: rotate(9deg);
  }

&-top{
  min-width: 320px;
  height: 63px;
  position:relative;
  width:100%;
  margin: 0 auto;

  &-title{
    color: #fff;
    font-size: 1.4em;
    width: 100%;
    text-align:center;

  }

    &-count{
      width: 100%;
      color: #000;
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 0px;
      position: relative;
      margin-top: 0px;
      font-family: Lato,sans-serif;
      font-weight:400;
    }

}

  &-buttons{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 285px;
  }

&-question, &-answer {
  color: #000;
  word-break:normal;
  // @include breakpoint(iphone5, null){
  //   color: #000;
  // word-break: normal;
  // margin-top: -17px;
  // width: 100%;
  // height: 146px;
  // font-size: 0px;
  // }
}

//body of the card
&-body{
  width: 443px;
  height: 245px;
  background-image: url('/assets/images/index_card.png');
  background-size: cover;
  border: 1px solid #999;
  padding: 2px;
  margin-top:20px;
  line-height: 1.26em;
  color: black;
  text-align:left;

  @include breakpoint(iphone5, null){
    width: 96%;
    line-height: 28px;
    width: 317px;
    height: 175px;
    background-image: url(/assets/images/index_card.png);
    background-size: cover;
    border: 1px solid #999;
    padding: 2px;
    margin-top: 20px;
    line-height: 1.26em;
    color: #000;
    text-align: left;
    margin-left: 1px;
  }

}

&-front,&-back {
  backface-visibility: hidden;
  position:absolute;
	top: 0;
	left: 0;
  @include breakpoint(iphone5, null){
      margin-top: 24px;
}

}
//front card
&-front{
  z-index:2;
}

//back card
&-back{

  transform: rotateX(0deg);

}


//header of the card
  &-header{
    height: 42px;
    padding: 11px;
    color: #000;
    text-align:center;
    @include breakpoint(iphone5, null){
      margin-top: -7px;
  margin-bottom: 8px;
  }
  }


}

@keyframes flip_backward {
  0%   {transform: rotateX(0deg); opacity: 1;}
  50%  {transform: rotateX(90deg);  opacity: .1;}
  100% {transform: rotateX(180deg); opacity:0;}
}

@-webkit-keyframes flip_backward {
  0%   {transform: rotateX(0deg); opacity: 1;}
  50%  {transform: rotateX(90deg);  opacity: .8;}
  100% {transform: rotateX(180deg); opacity:0;}
}

@keyframes flip_forward {
  0%   {transform: rotateX(0deg); opacity: 0;}
  50%  {transform: rotateX(180deg);  opacity: .1;}
  100% {transform: rotateX(360deg); opacity:1;}
}
@-webkit-keyframes flip_forward {
  0%   {transform: rotateX(0deg); opacity: 0;}
  50%  {transform: rotateX(180deg);  opacity: .1;}
  100% {transform: rotateX(360deg); opacity:1;}
}
// reversed
@keyframes flip_backward_reverse {
  0%   {transform: rotateX(180deg); opacity: 1;}
  50%  {opacity: 1; transform: rotateX(180deg);}
  100% {transform: rotateX(0deg); opacity:1;}
}
@-webkit-keyframes flip_backward_reverse {
  0%   {transform: rotateX(180deg); opacity: 1;}
  50%  {opacity: 1; transform: rotateX(90deg);}
  100% {transform: rotateX(0deg); opacity:1;}
}

@keyframes flip_forward_reverse {
  0%   {transform: rotateX(360deg); opacity: 1;}
  50%  {opacity: 1; transform: rotateX(180deg);}
  100% {transform: rotateX(0deg); opacity:1;}
}

@-webkit-keyframes flip_forward_reverse {
  0%   {transform: rotateX(360deg); opacity: 1;}
  50%  {opacity: 1; transform: rotateX(90deg);}
  100% {transform: rotateX(0deg); opacity:1;}
}



$transition: linear;

.flip-forward{
  animation: flip_backward 1.5s $transition forwards;
  -webkit-animation: flip_backward 1.5s $transition forwards;
}


.flip-backward{
  animation: flip_forward 1s $transition forwards;
  -webkit-animation: flip_forward 1s $transition forwards;
}

.flip-forward-reverse{
  animation: flip_backward_reverse 1s $transition forwards;
  -webkit-animation: flip_backward_reverse 1s $transition forwards;
}
.flip-backward-reverse{
  animation: flip_forward_reverse 1s $transition forwards;
  -webkit-animation: flip_forward_reverse 1s $transition forwards;
}
