.beta{

  background: #32cd32;
  width: 200px;
  height: 37px;
  padding: 8px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  color: #fff;
  z-index: 8000;
  position: relative;
    right: -52px;
    top: -82px;
    float: right;



  &-label {
    color:white;
    font-size:22px;
  }
}
