<% include ../partials/header %>
    <div ng-app="app" class="app ng-cloak" ng-controller="flashcards as cards">

        <!-- navigation -->
        <% include ../partials/navigation %>

            <!-- Deck Information -->
            <% include ../partials/deckInformation %>

                <!-- Card X of X, Card Title -->
                <% include ../partials/cardHeader %>

                    <!-- Front and back of Card -->
                    <% include ../partials/cardBody %>

                        <!-- Add new card Form, Secondary Menu Post Add -->
                        <% include ../partials/insertCardForm %>

                            <!-- Share Window -->
                            <% include ../partials/share %>

    </div>
    <% include ../partials/footer %>
