<% include ../partials/header %>
  <div ng-app="app" class="app ng-cloak" ng-controller="flashcards as cards">

    <div class="upper">
      <!-- navigation -->
      <% include ../partials/navigation %>
        <!-- Deck Information -->
        <% include ../partials/deckInformation %>
          <% include ../partials/beta %>
    </div>

    <div class="lower">
      <!-- beta -->

      <!-- Card X of X, Card Title -->
      <% include ../partials/cardHeader %>


        <!-- Share Completed ! -->
        <% include ../partials/completed %>

          <!-- Deck Information -->
          <% include ../partials/introduction %>

            <!-- Front and back of Card -->
            <% include ../partials/cardBody %>

              <!-- Add new card Form, Secondary Menu Post Add -->
              <% include ../partials/insertCardForm %>

                <!-- Share Window -->
                <% include ../partials/share %>

                  <!-- Share Window -->
                  <% include ../partials/popover %>

    </div>

  </div>
  <% include ../partials/footer %>
