.mobileNav {

  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(14.9%,14.9%,14.9%,.95);
  z-index: 10000;


  &-title{
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    margin-top:16px;
  }
  &-button{
    text-align: center;
    width:90%;
    height:32px;
    margin-top: 10px;
    padding: 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid hsla(0,0%,100%,.3);
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
    &:hover{
      color:rgba(255,255,255,.4);
    }

    &--close{
      width:90%;
      height:32px;
      margin-top: 10px;
      padding: 10px;
      background: #71b4d8;
      color: black;
      text-transform: uppercase;
      border: 1px solid hsla(0,0%,100%,.3);
      text-decoration: none;
      list-style-type: none;
      cursor:pointer;
      text-align: center;
      &:hover {
          color:rgba(255,255,255,.4);
      }
    }
  }

}
