.mobileNav {

  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(38,38,38,.95);
  z-index: 9000;
  padding-top: 16px;
  top: 0;
  left: 0;
&-group {
  width: 100%;
  margin: 0 auto;
  margin-left: -18px;
}
&-row {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
  &-title{
    text-align: center;
    font-size: 2em;
    color: #fff;
    width: 39%;
    margin: 0 auto;
    height: 33px;

  }
  &-button{
    text-align: center;
    width: 91%;
    height: 62px;
    padding: 21px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid hsla(0,0%,100%,.3);
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.1em;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 18px;

    & a,&:visited,&:active {
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        &:hover{
          color:rgba(255,255,255,.4);
        }
    }
    @include breakpointWithOrientation(iphone5, landscape){

          width: 50%;
          height: 35px;
          padding: 6px;
          margin-top: 7px;
    }
    &:hover{
      color:rgba(255,255,255,.4);
    }

    &--close{
      text-align: center;
      width: 91%;
      height: 62px;
      padding: 21px;
      text-transform: uppercase;
      border: 1px solid hsla(0,0%,100%,.3);
      text-decoration: none;
      list-style-type: none;
      max-width: 500px;
      cursor: pointer;
      font-size: 1.1em;
      background: #32cd32;
      color: #fff;
      margin: 0 auto;
      margin-top: 20px;

      @include breakpointWithOrientation(iphone5, landscape){

            width: 50%;
            height: 35px;
            padding: 6px;
            margin-top: 7px;
      }
      &:hover {
          color:rgba(255,255,255,.4);
      }
    }
  }

}
