.completed{
  width: 95%;
  position: absolute;
  min-height: 294px;
  margin-top: 128px;
  margin: 0 auto;
  padding: 10px;
  z-index: 2;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.5);
  border-radius: 28px;
  max-width: 600px;
  height: auto;
  min-width: 320px;
  opacity: 0;
  font-family: Lato,sans-serif;

  &-header{
    margin-top:10px;
    font-size:48px;
    color:black;
  }

  &-social{
    margin-top:10px;
  }

  &-alexa{
    margin-top:10px;
    color:black;
    font-size:16px;
    &-phrase{
      margin-top:10px;
      width:80%;
      margin: 0 auto;
      background:#c1c1c1;
      color:#666;
      font-size:18px;
      border: 1px solid #333;
      padding:5px;
    }
  }


}
