.completed{
  width: 600px;
  background: white;
  position: absolute;
  height: 450px;
  margin-top: 128px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
  text-align:center;

  &-header{
    margin-top:10px;
    font-size:48px;
    color:black;
  }

  &-social{
    margin-top:10px;
  }

  &-alexa{
    margin-top:10px;
    color:black;
    font-size:16px;
    &-phrase{
      margin-top:10px;
      width:80%;
      margin: 0 auto;
      background:#c1c1c1;
      color:#666;
      font-size:18px;
      border: 1px solid #333;
      padding:5px;
    }
  }


}
